 .main {
	width: 100px;
	height: 100px;
    margin: 200px auto;
    transform-style: preserve-3d;
	animation: bang 20s linear infinite;
}

.internal div {
	width: 100px;
	height: 100px;
	position: absolute ;
	top: 0;
	left: 0;
	transition: all 1s;

}

 #a {
	transform: translateZ(50px);
	background: url(../image/01.png);
}

 #b {
	transform: rotateX(180deg) translateZ(50px);
	background: url(../image/02.png);
}

 #c {
	transform: rotateX(-90deg) translateZ(50px);
	background: url(../image/03.png);
}

 #d {
	transform: rotateX(90deg) translateZ(50px);
	background: url(../image/04.png);
	background-size: cover;
}


 #e {
	transform: rotateY(-90deg) translateZ(50px);
	background: url(../image/05.png);
}

 #f {
	transform: rotateY(90deg) translateZ(50px);
	background: url(../image/06.png);
}

@keyframes bang {
	from {
		transform: rotateX(0deg) rotateY(0);
	}

	to {
		transform: rotateX(360deg) rotateY(360deg);
	}

}


.external div {
	width: 200px;
	height: 200px;
	position: absolute;
	opacity: 0.2;
	top: -50px;
	left: -50px;
	transition: all 1s;
}

#A {
	transform: translateZ(100px);
	background: url(../image/1.png);
	background-size: cover;
}

 #B {
	transform: rotateX(180deg) translateZ(100px);
	background: url(../image/2.png);
	background-size: cover;
}

#C {
	transform: rotateX(-90deg) translateZ(100px);
	background: url(../image/3.png);
	background-size: cover;
}

 #D {
	transform: rotateX(90deg) translateZ(100px);
	background: url(../image/4.png);
	background-size: cover;
}

#E {
	transform: rotateY(-90deg) translateZ(100px);
	background: url(../image/5.png);
	background-size: cover;
}

#F {
	transform: rotateY(90deg) translateZ(100px);
	background: url(../image/6.png);
	background-size: cover;
}


.main:hover  #A {
	transform: translateZ(300px)  ;
	width: 400px;
	height: 400px;
	opacity: 0.8;
	top: -100px;
	left: -100px;
}

.main:hover  #B {
	transform: rotateX(180deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.8;
	top: -100px;
	left: -100px;
}

.main:hover  #C {
	transform: rotateX(-90deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.8;
	top: -100px;
	left: -100px;
}

.main:hover  #D {
	transform: rotateX(90deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.8;
	top: -100px;
	left: -100px;
}

.main:hover  #E {
	transform: rotateY(-90deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.8;
	top: -100px;
	left: -100px;
}

.main:hover #F {
	transform: rotateY(90deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.8;
	top: -100px;
	left: -100px;
}
.main:hover #a{
	transform: translateZ(100px);
}

.main:hover #b{
	transform: rotateX(180deg) translateZ(100px);
}

.main:hover #c{
	transform: rotateX(-90deg) translateZ(100px);
}

.main:hover #d {
	transform: rotateX(90deg) translateZ(100px);
}

.main:hover #e {
	transform: rotateY(-90deg) translateZ(100px);
}

.main:hover #f {
	transform: rotateY(90deg) translateZ(100px);

}

	h2{text-align: center;}


	h3 {font-size:1px;}
	

.main:hover h3{
	font-size: 20px;
}
.main:hover #x{
	transform: rotateY(-60deg) translateZ(150px);
	 font-size: 20px;
	 font-feature-settings: "calt" ;
	 color: blanchedalmond;
}
.main:hover #y{
	transform: rotateY(-60deg) translateZ(200px);
	font-size: 20px;
	color: blanchedalmond;
}
.main:hover #z{
	transform: rotateY(-60deg) translateZ(250px);
	font-size: 10px;
	color: blanchedalmond;
}

div.byedaq div{
    width: 50px;
	height: 50px;
	margin: 0 auto;
	position: absolute ;
	top: 25px;
	left:25px;
	transition:2s linear .1ms ;
 }

.green {
background: green ;
 transform: rotate(45deg) ;
 color:white;
}

.yellow{
border: 2px solid white;
box-sizing: border-box;
background: yellow;
border-radius:  50%;
transform: scale(.85, .85) ;
font-size: xx-small;
color: yellow;
}

.red{
border:8px solid white;
box-sizing: border-box;
background: rgb(200, 30, 120);
border-radius: 50%;
transform: scale(.3, .3)  ;
}
.main:hover .byedaq{
	transform:  scale(2, 2) translateY(-87.5px) ;
	}

div .byedaq:hover .yellow{
	font-size: 40px;
	color:black;
		transform:  scale(30, 30)  ;
	
	} 
